code {
  font-family: 'Vazir', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Vazir', sans-serif;

  overflow-y: scroll;
  overflow-x: hidden; 

  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}


p.static-text {
  pointer-events: none;
}

html {
  overflow-x: hidden !important;
  width: 100%;
}